[Desktop Entry]
Name=veraPDF
GenericName=PDF/A conformance validator
Comment=veraPDF is an open-source, industry-supported PDF/A and PDF/UA validator
Exec=verapdf-gui %F
Icon=org.verapdf.veraPDF
Terminal=false
Type=Application
MimeType=application/pdf;
Categories=Development;Office;
Keywords=pdf;pdf-validator;
StartupNotify=false
